* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background: black;
	display: flex;
}

img {
	width: 150px;
}

section.atp-game {
	/* border: 2px solid green; */
	width: 800px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}
.player-card {
	margin: 5px;
	width: calc(25% - 10px);
	position: relative;
	transform: scale(1);
}

.player-card:active {
	transform: scale(.95);
	transition: transform .2s;
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
	border-radius: 5px;
	background-color: #212529;
	border: 2px solid #1ffffb;
}
